@import "tailwindcss";

@layer utilities {
    .skill-card {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 580px){
        .skill-card {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 760px){
        .skill-card {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
}